{{#extend "layout"}}
  {{#replace "bodyId"}}landing-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>Homework</h1>
      </div>
    </section>

  {{/replace}}
{{/extend}}
