{{#extend "layout"}}
  {{#replace "bodyId"}}landing-page{{/replace}}
  {{#replace "main"}}

    <section id="title">
      <div>
        <h1>To-Do List</h1>
      </div>
    </section>
    <section id="main">
      <h2>To Do</h2>
      <form name="checkListForm">
        <input type="text" name="checkListItem" />
      </form>
      <div id="button">Add!</div>
      <br/>
      <div class="list"></div>
      </body>
    </section>

  {{/replace}}
{{/extend}}
