<!DOCTYPE HTML>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="copyright" content="Copyright 2016 all rights reserved by Zac Cobb">
  <meta name="developer" content="Zac Cobb" name="developer">
  <meta name="robots" content="index, follow">

  <link href="https://fonts.googleapis.com/css?family=Space+Mono" rel="stylesheet">
  <link href="/assets/css/main.min.css" rel="stylesheet" type="text/css">
  <link rel="icon" href="/favicons/favicon.ico" type="image/x-icon" />

  <script src="https://use.fontawesome.com/ae4274b22d.js"></script>
  <script src="/assets/js/main.min.js"></script>

</head>

<body id="{{#block "bodyId"}}{{/block}}">

  {{> header}}

  <main>
    {{#block "main"}}{{/block}}
  </main>

  {{> footer}}

</body>

</html>
