<header>
  <nav>
    <ul>
      <li><a class="landing-page" href="/#">Home</a></li>
      <li><a class="tabs-page" href="/tabs">Tabs</a></li>
      <li><a class="accordion-page" href="/accordion">Accordion</a></li>
      <li><a class="css-page" href="/css">CSS</a></li>
      <!-- <li class="icon">
        <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></a>
      </li> -->
      <li class="icon">
        <a href="#" class="burger"><i class="fa fa-bars"></i></a>
        <!-- <a href="javascript:void(0);" style="font-size:15px;" onclick="myFunction()"><i class="fa fa-bars" aria-hidden="true"></i></a> -->
      </li>
    </ul>
    <script>
      // function myFunction() {
      //   document.getElementsByClassName("header ul")[0].classList.toggle("responsive");
      // }
    </script>
  </nav>
</header>
