body {
  font-family: $font-stack;
  color: $paragraph-color;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  max-width: 1080px;
  min-width: 320px;
  margin: 0 auto;
}
a {
  transition: 0.22s;
}
p {
  // margin: 18px 0;
}
footer,
header,
section {
  > div {}
}
img {
  width: 100%;
  height: auto;
}
#title {
  margin: 45px 0 65px;
  text-align: center;
}
#main {
  text-align: center;
}
form {
  display: inline-block;
}
#button {
  display: inline-block;
  // height: 70px;
  width: 70px;
  background-color: #000;
  line-height: 190%;
  font-weight: bold;
  color: #fff;
  text-align: center;
  margin-top: 2px;
  // border-radius: 50%;
}
.list {
  color: #000;
  text-align: left;
  margin: 0 200px;
}
