// VARIABLES
$font-stack: "Space Mono", "monospace", "OpenSans", "Arial", "Helvetica", sans-serif;
$light: 300;
$regular: 400;
$semi-bold: 600;
$bold: 700;
$black: 800;
$background-color: #ffffff;
$main-color: #330F53;
$secondary-color: #2f530f;
$paragraph-color: #000000;
